body{
    text-align: center;
}

h1{
    color: white;
    margin: 0%;
}

.container{
    display: flex;
    height: 100vh;
}
.col1{
    width: 20%;
    height: 100%;
    background-color: orangered;
    justify-content: flex-start;
}

.col2{
    width: 80%;
    height: 100%;
}
.col3{
    display: flex;
    height: 80%;
}

.cabecalho, .rodape{
    height: 10%;
    background-color: blue;
}

.conteudo{
    background-color: purple;
    height: 100%;
    width: 50%;
}

.conteudo2{
    background-color: rgb(236, 129, 236);
    height: 100%;
    width: 50%;
}