body{
    text-align: center;
}

h1{
    color: white;
}
.cabecalho, .rodape{
    padding: 50px;
    background-color: blue;
}

.pai{
    display: flex;
    height: 100vh;
}

.conteudo{
    width: 50%;
    height: 100%;
    background-color: purple;
}

.barra{
    width: 25%;
    height: 100%;
    background-color: orange;
}

.navegacao{
    width: 25%;
    height: 100%;
    background-color: orangered;
}