body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    border: 2px solid #f1f1f1;
}

.cabecalho, .rodape{
    background-color: #f1f1f1;
}

.cabecalho p{
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.topnav{
    background-color: #333333;
    padding: 15px;
}

.topnav li {
    display: inline ;
}

.topnav li#sobre{
    float: right;
}

.topnav a{
    color: #f2f2f2;
    padding: 10px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #dddddd;
    color: #000000;
    
}

.conteudo h1{
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tipo1 img{
    display: block;
    width: 250x;
    margin: 0px auto 0px auto; 
    padding: 5px;
    border: 1px solid rgb(204, 204, 204); 
}

.conteudo h2{
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.conteudo p {
    text-align: justify;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.5;
}

.tipo2 img {
    display: block;
    width: 500px;
    margin: 0px auto 0px auto; 
    padding: 5px; 
    border: 1px solid rgb(255, 255, 255); 
}

.detalhes{
    margin: 10px auto 10px auto;
}

.detalhes caption{
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}

.detalhes td{
    font-size: 12px;
    border: 1px solid #606060;
    padding: 10px;
}

.detalhes .ce{
    background-color: #606060;
    color: white;
    text-align: right;
}

.detalhes .cd{
    text-align: center;
}

.linha {
    color: #000000;
}

.botao img {
    display: block;
    width: 200px;
    margin: 20px auto 20px auto;
}

.rodape p{
    font-size: 14px;
    padding: 10px;
    text-align: center;
}